<!DOCTYPE html>
<html>

<head>
    <!--各個畫面共同引用的套件-->
	<!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--jQuery blockUI-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <!--free-jqGrid-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">

	<!--kendo-->
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.115/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.115/styles/kendo.default.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.blueopal.min.css">
	<script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.ui.core.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<!--
	<script src="js/jquery.min.js"></script>
	<script src="js/kendo.all.min.js"></script>
	-->
	<link rel='stylesheet' type="text/css" href='style/account.css' />

    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <!--不要發出找 icon 的 request-->
    <link rel="icon" href="data:;base64,=">
    <title>會員查詢</title>
</head>

<body>
	<div id="cap-view" class="demo-section k-content">
		<input id="shop" value="1" style="width: 100%;" />
		<input id="startDate" value="10/10/2011" title="datepicker" style="width: 100%" />
		<input id="endDate" value="10/10/2011" title="datepicker" style="width: 100%" />
		<button id="yesterday">日</button>
		<button id="thisWeek">週</button>
		<button id="thisMonth">月</button>
		<button id="thisSeason">季</button>
		<button id="thisYear">年</button>
		<button id="query">查詢</button>
	</div>
    <div class="m-2">
        <table id="grid"></table>
	</div>
	  <div id="sortModal" class="modal">
        <div class="sort_modal-content">

			<span class='sort_close'>&times;</span>
			<div id="sort_content"></div>
			<table id="sort_table">
			</table>
			<button id="sort_table_btn">確認</button>
        </div>
	</div> 
	<div id="pager"></div>

</body>

<script src="/javascripts/account_sheetQuery.js"></script>
</html>
